.video-item.item {
    display: flex!important;
    align-items: center!important;
    cursor: pointer;
}

.video-item.item img {
    width: 180px!important;
}       



@media screen and (max-width: 970px) {
    .mobile-version {
        flex-direction: column!important;
    }

    #root .mobile-version .eleven,
    #root .mobile-version .five {
        width: 100%!important;
     }
 
    #root .mobile-version .five {
        width: 100%!important;
        padding-top: 30px;
    }
}