
html {
    scroll-behavior: smooth;
}

.video-item.item {
    display: flex!important;
    align-items: center!important;
    cursor: pointer;
    border-bottom: 1px solid #e2e2e2;
    padding: 5px 0;
}

.video-item.item img {
    width: 180px!important;
    padding-right: 10px;
} 

@media screen and (max-width: 970px) {
    .mobile-version {
        flex-direction: column!important;
    }

    #root .mobile-version .eleven,
    #root .mobile-version .five {
        width: 100%!important;
     }
 
    #root .mobile-version .five {
        width: 100%!important;
        padding-top: 30px;
    } 
}